<nav class="navbar navbar-expand-lg navbar-light bg-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="images/logo.png" alt="" width="40" height="30"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/products/baby">Baby</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/personal-care">Personal Care</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/books">Books</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/electronics">Electronics</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/household">Household</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/cd-vinyl">CD & Vinyl</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/sports">Sports</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/toys">Toys</a>
            </li>
            <li>
              <a class="dropdown-item" href="/products/fashion">Fashion</a>
            </li>
          </ul>
        </li>
        <form class="d-flex mx-auto">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-hover-outline-danger" type="submit">
            <img
              src="images/find.png"
              alt=""
              width="30"
              height="24"
              id="search"
            />
          </button>
        </form>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="sign-in"
          >
            My Account
          </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart"><img
                        src="images/cart.png"
                        alt=""
                        width="30"
                        height="24"
                        id="search"
                      /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mx-auto">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Christmas Gifts</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gift Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Best Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Seasonal Gifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Specialized Gifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Random Choice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Top Rated Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Campaigns</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
